.page-advantages {
  padding-bottom: 0;
}
.advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.title-advantage {
  @include font();
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 10px;
}
.description-advantage {
  @include font(14px, 400, 24px);
  letter-spacing: 0.03em;
}
.menu-advantage {
  flex-basis: calc((100% - 90px) / 4);
  display: flex;
  flex-direction: column;
}
.advantages-list-link {
  @extend %align;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.advantages-list-icon {
  justify-content: center;
  align-items: center;
}
